@model CapaEntidad.ClienteEntidad

@{
    ViewBag.Title = "ClienteNoValido";

    Layout = "~/Views/Shared/_LayoutPrimary.cshtml";
}

<h2>ClienteNoValido</h2>
<h2>buscarCliente</h2>
<div>

    <div>@ViewBag.mensaje</div>
    <a href="@Url.Action("Index","Home")">volver al inicio</a>



</div>