@model CapaEntidad.ClienteEntidad
@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_LayoutPrimary.cshtml";
}


<html>
<head>

    <meta name="viewport" content="width=device-width" />

   
    <title>@ViewBag.Title</title>
</head>
<body>
    <h1 class="display-2">REGISTRO DE PRESTAMO</h1>

    <form method="get" action="@Url.Action("index","Home")" class="form-inline" >
        <label for="DNI">DNI:</label>
        <input  class="form-control" name="dni" value="@Model.cliente_nombres">
       
        <button type="submit" class="btn btn-primary">Buscar Cliente</button>
    </form>
</body>
</html>
