@{
    ViewBag.Title = "Home Page";
}

<div>
    <h1>Bienvenido al SISTEMA BANCARIO</h1>




    <img src="~/Content/images/banklogo.jpg" alt="Bank Logo" />
    <br />
    <a href='@Url.Action("Index", "RealizarPrestamo")' class="btn btn-primary">Click Me</a>

</div>